:root {
    --cor-container-register: #4580bf;
}

.container-register {
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta', sans-serif;
    height: 100vh;
    min-height: 550px;
    background-image: url(../images/bgCadastro3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

@media (max-width: 770px) {
    .container-left {
        margin-top: 50px;
    }

    .container-right {
        margin-top: 50px;
    }

    .container-register {
        background-position: left;
    }
}

.button {
    text-align: center;
    outline: none;
    border: none;
    right: 0;
    width: 100px;
}

* {
    outline: none;
    margin: 0;
    padding: 0;
}

.img.hidden {
    transform: translateX(800px);
}

.img {
    position: fixed;
    transition: transform 0.5s ease;

    top: 20%;

    right: 25px;
    width: 35%;
    transform: translateX(0px);
}

#navNav {
    background-color: #406d86;
}

.priority {
    z-index: 1;
}

.container-left {
    box-shadow: 20px 20px 40px #0d0d0d;
    position: absolute;

    height: auto;
    transition: transform 0.5s ease;

    background-color: #659dbc;
}

.container-right {
    box-shadow: 20px 20px 40px #0d0d0d;
    position: absolute;

    height: auto;
    transition: transform 0.5s ease;

    background-color: #5cd7d8;
}

.hide-container {
    transform: translateX(-600px);
}

*::-webkit-scrollbar {
    display: none;
}

/* FORMULÃRIO */

form {
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    padding: auto;

    color: #000000;
}

.input {
    border: 0;
    border-bottom: 1px solid;
    background-color: transparent;
    outline: none;
    width: 100%;
}

.input-single {
    position: relative;
    margin: 20px 0;
}

.input-single label {
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    cursor: text;
}

form .input-single .input:valid~label,
form .input-single .input:focus~label {
    transform: translateY(-20px);
    font-size: 12px;
    transition: all 0.07s;
    color: rgb(121, 121, 121);
}

button {
    padding: 5px 10px 9px 10px;
    /* superior, direito, inferior e esquerdo */
    border: unset;
    border-radius: 40px;
    color: #212121;
    z-index: 1;
    background: orange;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

form>h1 {
    letter-spacing: 5px;
    color: #000000;
}